---
import BaseLayout from "./BaseLayout.astro";

import Navbar from "~/components/Navbar.vue";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <header>
    <Navbar client:load />
    <slot name="header" />
  </header>
  <main>
    <div class="dark:bg-gray-900 dark:text-gray-50">
      <slot />
    </div>
  </main>
  <footer>
    <slot name="footer" />
  </footer>
</BaseLayout>
